@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi Variable';
    src: url('/fonts/649d7ca1f5c7aa41f51eb483_satoshi-variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}